@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


:root {
    --primary-color1: #BF9444;
    --title-color-dark: #09161D;
    --text-color1: #5E5E5E;
    --white: #ffffff;
    --light-text: #ffffffcc;
    --border: 1px solid #EEEEEE;
    --font-Jost: 'Jost', sans-serif;
    --font-cormorant: 'Cormorant Garamond', serif;
    
}

::selection {
    color: var(--white);
    background: var(--primary-color1);
}
/* Comments Reply */
.blog-details-pages .comments-area .comment-list .children li {
	list-style: none;
}
.blog-details-pages .comments-area .comment-list .children .single-comment {
	background: #FAF7F7;
	border-radius: 5px;
	padding: 35px 30px;
	margin-bottom: 25px;
  display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-image {
	margin-right: 20px;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-image img {
	border-radius: 5px;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-content .c-header {
	justify-content: space-between;
	margin-bottom: 12px;
	gap: 10px;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-content .c-header .comment-meta {
	display: flex;
	align-items: center;
	gap: 10px;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-content .c-header .comment-meta h5 a {
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--title-color-dark);
	font-family: var(--font-Jost);
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-content .c-header .comment-meta .c-date {
	font-size: 1rem;
	font-weight: 400;
	color: rgba(94, 94, 94, 0.8);
	font-family: var(--font-Jost);
	border: 1px solid #EEEEEE;
	padding: 2px 14px;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-content .c-header .replay-btn a {
	font-size: 1.125rem;
	font-weight: 400;
	color: var(--primary-color1);
	font-family: var(--font-Jost);
	display: flex;
	align-items: center;
	line-height: 1;
	transition: 0.35s;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .comment-content .c-header .replay-btn a i{
	margin-right: 5px;
}
.blog-details-pages .comments-area .comment-list .children .single-comment .c-body p {
	margin-bottom: 0;
	font-size: 1.125rem;
	font-weight: 400;
	color: var(--text-color1);
	font-family: var(--font-Jost);
}
.blog-details-pages .comments-area .comment-reply-title {
	font-size: 1.75rem;
	font-weight: 700;
	color: var(--title-color-dark);
	font-family: var(--font-cormorant);
	position: relative;
	margin-bottom: 30px;
}
.blog-details-pages .comments-area .comment-reply-title small a {
	position: absolute;
	right: 0;
	font-size: 1.125rem;
	font-weight: 400;
	color: var(--primary-color1);
	font-family: var(--font-Jost);
	line-height: 30px;
	color: var(--primary-color1);
	text-transform: capitalize;
}

.blog-details-pages .comments-area p.comment-form-cookies-consent {
	margin-bottom: 5px;
}
.blog-details-pages .comments-area p.comment-notes {
	margin-bottom: 5px;
}
.comment-form-cookies-consent label{
	margin-left: 8px;
}
.blog-details-pages .comments-area .form-submit {
	margin-top: 25px;
}

.blog-details-pages .comments-area p.logged-in-as {
	margin: 15px 0 15px;
}
.blog-details-pages .comments-area p.logged-in-as a{
	color: var(--primary-color1);
}
.blog-details-pages .comments-area .children {
	padding: 0;
	margin: 0 0 0 75px;
}
.blog-details-pages .comments-area .primary-btn:hover {
	color: white;
	background: #020202;
}

/* Comment Response */
.comment-list-area .comment-list .comment-respond {
	border: 1px solid #EEEEEE;
	border-radius: 5px;
	padding: 50px 60px;
	margin-top: 60px;
}

.comment-respond .form-inner input {
	height: 55px;
}
.comment-respond .form-inner input, .comment-respond .form-inner textarea {
	width: 100%;
	border: none;
	background: #FAF7F7;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-color1);
	padding: 15px 20px;
}
/* Search Bar */
form.wp-block-search .wp-block-search__inside-wrapper {
	display: flex;
	align-items: center;
}
form.wp-block-search .wp-block-search__inside-wrapper input {
	width: 100%;
	border: 1px solid #EEEEEE;
	border-radius: 5px 0px 0px 5px;
	height: 55px;
	font-size: 1.125rem;
	font-weight: 400;
	color: var(--text-color1);
	font-family: var(--font-Jost);
	padding: 20px 20px;
}
form.wp-block-search .wp-block-search__inside-wrapper .wp-block-search__button{
	background: #BF9444;
	border-radius: 0px 5px 5px 0px;
	height: 55px;
	min-width: 55px;
	margin: 0;
	border: none;
}
form.wp-block-search .wp-block-search__inside-wrapper .wp-block-search__button svg{
	fill: var(--white);
}
